# Merging datasets

In [1]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.arange(16).reshape(4,4), columns=list("ABCD"))
df2 = pd.DataFrame(np.zeros((3,4)), columns=list("ABCD"))
df2
#df3 = pd.DataFrame(np.ones((4,3)), index=[1,5,10,15])

     A    B    C    D
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0

## concat
- concat along a particular axis
- set logic

In [2]:
# df1 and df2 has the same column names
pd.concat([df1, df2]).reset_index(drop=True)

      A     B     C     D
0   0.0   1.0   2.0   3.0
1   4.0   5.0   6.0   7.0
2   8.0   9.0  10.0  11.0
3  12.0  13.0  14.0  15.0
4   0.0   0.0   0.0   0.0
5   0.0   0.0   0.0   0.0
6   0.0   0.0   0.0   0.0

In [3]:
# df1 shape(4,4), df2 shape (3,4)
pd.concat([df1, df2], axis=1, join="inner")

   A  B   C   D    A    B    C    D
0  0  1   2   3  0.0  0.0  0.0  0.0
1  4  5   6   7  0.0  0.0  0.0  0.0
2  8  9  10  11  0.0  0.0  0.0  0.0

In [4]:
pd.concat([df1, df2], axis=1, join="outer")

    A   B   C   D    A    B    C    D
0   0   1   2   3  0.0  0.0  0.0  0.0
1   4   5   6   7  0.0  0.0  0.0  0.0
2   8   9  10  11  0.0  0.0  0.0  0.0
3  12  13  14  15  NaN  NaN  NaN  NaN

## Merge
- different join operations similar to relational database such as SQL

In [5]:
left = pd.DataFrame(
    {
        "key": ["K0", "K0", "K2", "K3"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)


right = pd.DataFrame(
    {
        "key": ["K0", "K1", "K2", "K3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)
left, right

(  key   A   B
 0  K0  A0  B0
 1  K0  A1  B1
 2  K2  A2  B2
 3  K3  A3  B3,
   key   C   D
 0  K0  C0  D0
 1  K1  C1  D1
 2  K2  C2  D2
 3  K3  C3  D3)

In [6]:
pd.merge(left, right, on = "key", indicator=True)

  key   A   B   C   D _merge
0  K0  A0  B0  C0  D0   both
1  K0  A1  B1  C0  D0   both
2  K2  A2  B2  C2  D2   both
3  K3  A3  B3  C3  D3   both

In [7]:
left.merge(right, on="key", how="outer", indicator=True)

  key    A    B   C   D      _merge
0  K0   A0   B0  C0  D0        both
1  K0   A1   B1  C0  D0        both
2  K2   A2   B2  C2  D2        both
3  K3   A3   B3  C3  D3        both
4  K1  NaN  NaN  C1  D1  right_only

In [18]:
import pandas as pd

tables = pd.read_html("https://en.wikipedia.org/wiki/List_of_potentially_habitable_exoplanets")

tables

ImportError: lxml not found, please install it

In [19]:
fifa_tables = pd.read_html("https://en.wikipedia.org/wiki/FIFA_World_Cup", match="Highest attendances")

fifa_tables[0].head()

ImportError: lxml not found, please install it