In [13]:
import pandas as pd

df = pd.read_csv("Data/AAPL_TIME_SERIES_DAILY.csv")
df

       timestamp     open     high       low   close     volume
0     2021-10-29  147.215  149.940  146.4128  149.80  124953168
1     2021-10-28  149.820  153.165  149.7200  152.57  100077888
2     2021-10-27  149.360  149.730  148.4900  148.85   56094929
3     2021-10-26  149.330  150.840  149.0101  149.32   60893395
4     2021-10-25  148.680  149.370  147.6211  148.64   50720556
...          ...      ...      ...       ...     ...        ...
5531  1999-11-05   84.620   88.370   84.0000   88.31    3721500
5532  1999-11-04   82.060   85.370   80.6200   83.62    3384700
5533  1999-11-03   81.620   83.250   81.0000   81.50    2932700
5534  1999-11-02   78.000   81.690   77.3100   80.25    3564600
5535  1999-11-01   80.000   80.690   77.3700   77.62    2487300

[5536 rows x 6 columns]